/* * img {
  width: 100%;
}

body {
  
  margin: 0 auto !important; 
  padding: 0 !important;
  box-sizing: border-box !important;
  max-width: 1480px !important;
} 

#navbar {
  position: sticky !important;
  top: 0 !important;
}

.tooltip {
  position: absolute;
  z-index: 500;
  background: rgba(0,0,0,.6);
  box-shadow: 0 0 0 2px #fb5, 0 0 0 6px rgba(0,0,0,.6);
  padding: .5rem;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: .875rem;
  max-width: 170px;
  border-radius: 2px;
  top: 0;
  left: 0;
}




[data-semana]::after{
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  margin-left: 4px;
  border: 2px solid #000;
}

[data-semana].aberto::after{
  background-color: greenyellow;
}

.nav-link {
  transform: 1000s ease-in-out;
}

ul {
  list-style: none;
}


 */
